:root {
    /* Cores Produtos */
    --brand-color-light: #60a5fa;
    --brand-color-dark: #1d4ed8;
 
    /* Cores Base */
    --background-color: #0f172a;
    --stroke-color: #1e293b;
    
    /* Cores Textos */
    --text-color-primary: #f1f5f9;
    --text-color-secondary: #cbd5e1;

    /* Textos */
    --font-family: "Archivo", sans-serif;
    --heading1: 800 24px/135% var(--font-family);
    --heading2: 800 16px/140% var(--font-family);   
    --heading3: 800 14px/140% var(--font-family);
    --span: 600 14px/145% var(--font-family);
    --paragraph: 400 14px/160% var(--font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

* h1 {
    font: var(--heading1);
}

* h3 {
    font: var(--heading3)
}

body{         
    background-color: var(--background-color);
    font: var(--paragraph);
    color: var(--text-color-primary);
}

.container {
    padding: 0 32px;
    max-width: 1280px;
    margin: 0 auto;
}