main {
}

#noticias img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;

}

#noticias {
    border: 1px solid red;
    position: relative;
    overflow: hidden;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

}

.description {
    border: 1px solid blue;
    position: absolute;
    bottom: 0;
    padding: 72px 24px 24px 24px;
    font: var(--heading1);

    span {
        display: inline-block;
        background-color: var(--brand-color-dark);
        padding: 4px 8px;
        font: 500 10px/1.2 var(--font-family);
        letter-spacing: 0.04em;
        border-radius: 4px;
        margin-bottom: 8px;
        box-shadow: 0 4px 16px rgba(2, 6, 23, 0.25);
        text-transform: uppercase;
    }

    &:has(h3) {
        padding: 12px;
    }
}

#destaques {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

#destaque-02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
