main {
    margin-top: 40px;
}

#noticias img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;

}

#noticias {
    position: relative;
    overflow: hidden;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

}

.description {
    position: absolute;
    bottom: 0;
    padding: 72px 24px 24px 24px;
    font: var(--heading1);

    &:has(h3) {
        padding: 12px;
    }
}

#weekly {
    margin-top: 80px;
    padding-bottom: 80px;
    border-top: 1px solid var(--stroke-color);
}

#weekly header {
    justify-content: space-between;
    margin: 24px 0;
}

#weekly img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#weekly div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#weekly span {
    position: absolute;
    margin: 8px;
}

#section-footer {
    grid-template-areas: 
    "ai ai ads"
    "ai ai news"
    "ai ai news";

    p {
        color: var(--text-color-secondary);
    }
}

#ai {
    grid-area: ai;
    gap: 32px;

    img {
        width: 176px;
        height: 176px;
    }

    header {
        border-top: 1px solid var(--stroke-color);
        padding-top: 12px;
        margin-bottom: 24px;
    }

}

#ads {
    grid-area: ads;

    img {
        width: 100%;
    }
}

#news {
    grid-area: news;

    img {
        width: 72px;
        height: 72px;
    }
}

